* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: -0.02em; }

header .navbar {
  opacity: 0.85; }

header .nav-item {
  text-transform: uppercase;
  font-weight: bold; }

header .naviLogo img {
  margin: 0.2em;
  width: 10em;
  height: 2em; }

header .secondaryHeader {
  width: 100%;
  height: 40vh;
  position: relative; }
  header .secondaryHeader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 70%; }
  header .secondaryHeader .secondaryFloating {
    z-index: 20;
    width: 80%;
    position: absolute;
    bottom: 30px;
    left: 30px; }
    header .secondaryHeader .secondaryFloating h2 {
      font-size: 4em;
      line-height: 1em;
      font-weight: bold;
      color: white;
      text-shadow: 2px 2px 10px black;
      letter-spacing: -0.04em; }

main .imageStack {
  width: 100%;
  height: 80vh;
  position: absolute; }
  main .imageStack .slideShow li {
    list-style: none; }
    main .imageStack .slideShow li span {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      opacity: 0;
      animation: imageAnimation 30s ease-in-out infinite; }
  main .imageStack .slideShow li:nth-child(1) span {
    background-image: url(../img/chile-slideshow6.jpg);
    animation-delay: -2s; }
  main .imageStack .slideShow li:nth-child(2) span {
    background-image: url(../img/chile-slideshow2.jpg);
    animation-delay: 4s; }
  main .imageStack .slideShow li:nth-child(3) span {
    background-image: url(../img/chile-slideshow3.jpg);
    animation-delay: 10s; }
  main .imageStack .slideShow li:nth-child(4) span {
    background-image: url(../img/chile-slideshow4.jpg);
    animation-delay: 16s; }
  main .imageStack .slideShow li:nth-child(5) span {
    background-image: url(../img/chile-slideshow5.jpg);
    animation-delay: 22s; }

@keyframes imageAnimation {
  0% {
    opacity: 0; }
  4% {
    opacity: 1; }
  20% {
    opacity: 1; }
  24% {
    opacity: 0; } }
  main .imageStack .floatingHeader {
    z-index: 20;
    width: 80%;
    position: absolute;
    bottom: 30px;
    left: 30px; }
    main .imageStack .floatingHeader h2 {
      font-size: 6em;
      font-weight: bold;
      color: white;
      text-shadow: 2px 2px 10px black;
      letter-spacing: -0.05em;
      line-height: 1.1em; }

main .spacer {
  position: relative;
  height: 80vh; }

main .mainGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: .5em;
  gap: .5em; }
  main .mainGrid .highlightedGridItem {
    grid-column: span 2;
    padding: 1em;
    background-image: linear-gradient(to top, #9caebb 0%, #e2ebf0 100%); }
    main .mainGrid .highlightedGridItem h3 {
      font-size: 2em;
      font-weight: bold;
      letter-spacing: -0.05em;
      margin-bottom: 0.2em; }
  main .mainGrid .presentationMainCard {
    font-size: 1.2em;
    background-image: linear-gradient(to top, #9caebb 0%, #e2ebf0 100%);
    grid-column: span 6;
    padding: 3em 0 3em 3em;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    min-height: 30vh; }
    main .mainGrid .presentationMainCard .presentationImageCard {
      position: absolute;
      bottom: 0;
      right: 0; }
      main .mainGrid .presentationMainCard .presentationImageCard img {
        opacity: .8;
        width: 256px;
        height: 320px;
        z-index: 0; }
    main .mainGrid .presentationMainCard .presentationTextCard p {
      width: calc(100% - 330px);
      z-index: 999; }
    main .mainGrid .presentationMainCard .presentationTextCard .presentationMainTitle h3 {
      font-size: 3em;
      font-weight: bold;
      letter-spacing: -0.05em;
      z-index: 10;
      width: 90%; }
  main .mainGrid .promotionGridItem {
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 4em 3em 3em 3em;
    overflow: hidden;
    position: relative;
    align-items: normal; }
    main .mainGrid .promotionGridItem h3 {
      font-weight: bold;
      font-size: 3.5em;
      line-height: 0.5em;
      letter-spacing: -0.05em; }
    main .mainGrid .promotionGridItem h5 {
      font-weight: bold;
      font-size: 1.5em;
      letter-spacing: -0.05em;
      text-shadow: 2px 2px 2px black; }
    main .mainGrid .promotionGridItem #accelSquare {
      background-image: url("../img/visa-tiempo.jpg");
      background-position: center;
      background-size: cover;
      color: white;
      padding: 1em; }
      main .mainGrid .promotionGridItem #accelSquare div {
        padding: 1em;
        -webkit-backdrop-filter: blur(10px) brightness(50%);
        backdrop-filter: blur(10px) brightness(50%); }
    main .mainGrid .promotionGridItem #rejectionSquare {
      background-image: url("../img/visa-rechazo.jpg");
      background-position: center;
      background-size: cover;
      color: white;
      padding: 1em; }
      main .mainGrid .promotionGridItem #rejectionSquare div {
        padding: 1em;
        -webkit-backdrop-filter: blur(10px) brightness(50%);
        backdrop-filter: blur(10px) brightness(50%); }
    main .mainGrid .promotionGridItem #reopeningSquare {
      background-image: url("../img/visa-reapertura.jpg");
      background-position: center;
      background-size: cover;
      color: white;
      padding: 1em; }
      main .mainGrid .promotionGridItem #reopeningSquare div {
        padding: 1em;
        -webkit-backdrop-filter: blur(10px) brightness(50%);
        backdrop-filter: blur(10px) brightness(50%); }
    main .mainGrid .promotionGridItem #assistanceSquare {
      background-image: url("../img/visa-asesoria.jpg");
      background-position: center;
      background-size: cover;
      color: white;
      padding: 1em; }
      main .mainGrid .promotionGridItem #assistanceSquare div {
        padding: 1em;
        -webkit-backdrop-filter: blur(10px) brightness(50%);
        backdrop-filter: blur(10px) brightness(50%); }

main .instagramFeed {
  grid-column: span 6;
  padding-top: 2em; }
  main .instagramFeed h3 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-bottom: 0.2em; }

main .mainParagraph {
  margin-top: 1.2em;
  margin-bottom: 1.5em;
  grid-column: span 5;
  padding-right: 2em; }
  main .mainParagraph h3 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-bottom: 0.2em; }
  main .mainParagraph p {
    font-size: 1em;
    margin-bottom: 0.2em; }

main .square {
  background-color: blue;
  width: 22px;
  height: 22px;
  position: relative;
  right: 2px;
  top: 31px; }

main .newsTab {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: right; }

main .mainForm {
  grid-column: span 6;
  padding: 3em; }

footer {
  display: flex;
  size: 100%;
  padding: 3em 2em 2em calc(100vw - 280px);
  text-align: left;
  font-size: 0.9em;
  color: white;
  letter-spacing: -0.02em; }
  footer hr {
    border: 1px solid white;
    margin: 3px 0 2px 0; }

@media screen and (max-width: 768px) {
  header .secondaryHeader .secondaryFloating h2 {
    font-size: 2.5em; }
  main .imageStack .floatingHeader h2 {
    font-size: 3.5em; }
  main .mainGrid .presentationMainCard {
    padding: 1em 0 0 1em; }
  main .mainGrid .highlightedGridItem {
    grid-column: span 6; }
  main .mainGrid .presentationMainCard .presentationImageCard img {
    width: 192px;
    height: 240px;
    opacity: .4; }
  main .mainGrid .presentationMainCard .presentationTextCard p {
    width: 90%;
    font-size: 0.8em; }
  main .mainGrid .presentationMainCard .presentationTextCard .presentationMainTitle {
    font-size: .8em; }
  main .mainGrid .promotionGridItem {
    padding: 2em 1em 1em 1em; }
    main .mainGrid .promotionGridItem div {
      grid-column: span 2; }
    main .mainGrid .promotionGridItem h3 {
      font-size: 2.5em; }
  main .mainParagraph h3 {
    font-size: 2em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .imageStack .floatingHeader h2 {
    font-size: 4.5em; } }

@media screen and (min-width: 1650px) {
  main {
    width: 1650px; } }
