/*  Reset.
    Propiedades para todos los documentos
    */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: -0.02em;
}

/*  Encabezado: sistema de navegacion 
    Se genera una barra semitransparente con vínculos para los HTML.
    Bootstrap nos sobreescribió todo, pero parece que aún podemos hacer un override
    */
.navbar {
    opacity: 0.85;
}

.nav-item {
    text-transform: uppercase;
    font-weight: bold;
}

.naviLogo img {
    margin: 0.2em;
    width: 10em;
    height: 2em;
}

/*  imageStack: un slideshow de 5 fotos de portada. 
    Dentro de estos comentarios está la definición del div principal,
    cada imagen que va dentro de cada <span> y la animación
    */
.imageStack {
    width: 100%;
    height: 80vh;
    position: absolute;
}

/*  Esto se asegura de que los puntos de la lista de imágenes no sea visible
    */
.slideShow li {
    list-style: none;
}

.slideShow li span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    animation: imageAnimation 30s ease-in-out infinite;
}

.slideShow li:nth-child(1) span {
    background-image: url(../img/chile-slideshow6.jpg);
    animation-delay: -2s;
}

.slideShow li:nth-child(2) span {
    background-image: url(../img/chile-slideshow2.jpg);
    animation-delay: 4s;
}

.slideShow li:nth-child(3) span {
    background-image: url(../img/chile-slideshow3.jpg);
    animation-delay: 10s;
}

.slideShow li:nth-child(4) span {
    background-image: url(../img/chile-slideshow4.jpg);
    animation-delay: 16s;
}

.slideShow li:nth-child(5) span {
    background-image: url(../img/chile-slideshow5.jpg);
    animation-delay: 22s;
}

@keyframes imageAnimation {
    0% { opacity: 0; }
    4%  { opacity: 1; }
    20% { opacity: 1; }
    24% { opacity: 0; }
}

/* floatingHeader es el h2 que va dentro del div imageStack
    Es un título simple */
.floatingHeader {
    z-index: 20;
    width: 80%;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/*  Con Bootstrap el h2 de floatingHeader se rompió. A arreglar
    */
.floatingHeader h2 {
    font-size: 6em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px black;
    letter-spacing: -0.05em;
    line-height: 1.1em;
}

/*  Workaround para que el texto fluya en la página de título.
    El alto corresponde al 80% de la vista (view height)
    */
.spacer {
    position: relative;
    height: 80vh;
}

/*  Como secondaryHeader no necesita tener posición absoluta,
    podemos posicionarlo relativamente para que todo fluya.
    */
.secondaryHeader {
    width: 100%;
    height: 40vh;
    position: relative;
}

.secondaryHeader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 70%;
}

.secondaryFloating {
    z-index: 20;
    width: 80%;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/*  Con Bootstrap el h2 de secondaryFloating se rompió. A arreglar
    */
.secondaryFloating h2 {
    font-size: 4em;
    line-height: 1em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px black;
    letter-spacing: -0.04em;
}

/*********** PAGINA PRINCIPAL **************/
/*  Grilla principal para llamar la atención    */
.mainGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: .5em;
    gap: .5em;
}

.highlightedGridItem {
    grid-column: span 2;
    padding: 1em;
    background-image: linear-gradient(to top, #9caebb 0%, #e2ebf0 100%);
}

.highlightedGridItem h3 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-bottom: 0.2em;
}

/*  Presentación    */
.presentationMainCard {
    font-size: 1.2em;
    background-image: linear-gradient(to top, #9caebb 0%, #e2ebf0 100%);
    grid-column: span 6;
    padding: 3em 0 3em 3em;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    min-height: 30vh;
}

.presentationImageCard {
    position: absolute;
    bottom: 0;
    right: 0;
}

.presentationImageCard img {
    opacity: .8;
    width: 256px;
    height: 320px;
    z-index: 0;
}

.presentationMainTitle h3 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -0.05em;
    z-index: 10;
    width: 90%;
}

.presentationTextCard p {
    width: calc(100% - 330px);
    z-index: 999;
}

.mainParagraph {
    margin-top: 1.2em;
    margin-bottom: 1.5em;
    grid-column: span 5;
    padding-right: 2em;
}

.mainParagraph h3 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-bottom: 0.2em;
}

.mainParagraph p {
    font-size: 1em;
    margin-bottom: 0.2em;
}

.instagramFeed {
    grid-column: span 6;
    padding-top: 2em;
}

.instagramFeed h3 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-bottom: 0.2em;
}

.promotionGridItem {
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 4em 3em 3em 3em;
    overflow: hidden;
    position: relative;
    align-items: normal;
}

.promotionGridItem h3 {
    font-weight: bold;
    font-size: 3.5em;
    line-height: 0.5em;
    letter-spacing: -0.05em;
}

.promotionGridItem h5 {
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: -0.05em;
    text-shadow: 2px 2px 2px black;
}

#accelSquare {
    background-image: url("../img/visa-tiempo.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    padding: 1em;
}

#accelSquare div {
    padding: 1em;
    -webkit-backdrop-filter: blur(10px) brightness(50%);
    backdrop-filter: blur(10px) brightness(50%);
}

#rejectionSquare {
    background-image: url("../img/visa-rechazo.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    padding: 1em;
}

#rejectionSquare div {
    padding: 1em;
    -webkit-backdrop-filter: blur(10px) brightness(50%);
    backdrop-filter: blur(10px) brightness(50%);
}

#reopeningSquare {
    background-image: url("../img/visa-reapertura.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    padding: 1em;
}

#reopeningSquare div {
    padding: 1em;
    -webkit-backdrop-filter: blur(10px) brightness(50%);
    backdrop-filter: blur(10px) brightness(50%);
}

#assistanceSquare {
    background-image: url("../img/visa-asesoria.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    padding: 1em;
}

#assistanceSquare div {
    padding: 1em;
    -webkit-backdrop-filter: blur(10px) brightness(50%);
    backdrop-filter: blur(10px) brightness(50%);
}

.square {
    background-color: blue;
    width: 22px;
    height: 22px;
    position: relative;
    right: 2px;
    top: 31px;
}

.newsTab {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.mainForm {
    grid-column: span 6;
    padding: 3em;
}

/*  Celulares y pantalla pequeña  */
@media screen and (max-width: 768px) {
    .highlightedGridItem {
        grid-column: span 2;
    }

    .floatingHeader h2 {
        font-size: 3.5em;
    }

    .secondaryFloating h2 {
        font-size: 2.5em;
    }

    .presentationMainCard {
        padding: 1em 0 0 1em;
    }

    .presentationImageCard img {
        width: 192px;
        height: 240px;
        opacity: .4;
    }

    .presentationMainTitle {
        font-size: .8em;
    }

    .presentationTextCard p {
        width: 90%;
        font-size: 0.8em;
    }

    .promotionGridItem {
        padding: 2em 1em 1em 1em;
    }

    .promotionGridItem h3 {
        font-size: 2.5em;
    }

    .promotionGridItem div {
        grid-column: span 2;
    }

    .mainParagraph h3 {
        font-size: 2em;
    }

    footer {
        padding-left: 0;
    }
}

/*  Tabletas    */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .floatingHeader h2 {
        font-size: 4.5em;
    }
}

/*  iMacs y pantallas con resoluciones horizontales absurdamente grandes    */
@media screen and (min-width: 1650px) {
    main {
        width: 1650px;
    }
}

/* Pie de página: hay que terminarlo */
footer {
    display: flex;
    size: 100%;
    padding: 3em 2em 2em calc(100vw - 280px);
    text-align: left;
    font-size: 0.9em;
    color: white;
    letter-spacing: -0.02em;
}

footer hr {
    border: 1px solid white;
    margin: 3px 0 2px 0;
}
