@import url("https://fonts.cdnfonts.com/css/din-alternate");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-kerning: normal;
  letter-spacing: -0.01em;
}
body h1, body h2, body h3 {
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
}
body h1 {
  font-size: 52pt;
  letter-spacing: -0.05em;
}
body h2 {
  font-size: 36pt;
  letter-spacing: -0.04em;
}
body h3 {
  font-size: 20pt;
  letter-spacing: -0.03em;
}

header .navbar {
  opacity: 0.9;
  padding-right: 6px;
}
header .nav-item {
  font-size: 14pt;
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
header .naviLogo img {
  margin: 0.1em;
  width: 10.2em;
  height: 1.85em;
}
header .secondaryHeader {
  width: 100%;
  height: 40vh;
  position: relative;
}
header .secondaryHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 70%;
}
header .secondaryHeader .secondaryFloating {
  max-width: 80%;
  position: absolute;
  bottom: 36px;
  left: 0;
  padding-left: 36px;
  -webkit-backdrop-filter: blur(10px) brightness(70%);
  backdrop-filter: blur(10px) brightness(70%);
}
header .secondaryHeader .secondaryFloating h1 {
  color: white;
  text-shadow: 2px 2px 10px black;
}

main .mainGrid {
  display: grid;
  grid-template-columns: 56px repeat(6, 2fr) 36px;
  margin-top: 10px;
  gap: 10px;
}
main .mainGrid .socialSpan {
  grid-column: span 1;
  grid-row: span 9;
  align-items: center;
}
main .mainGrid .socialSpan .socialNetwork {
  position: -webkit-sticky;
  position: sticky;
  top: 74px;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main .mainGrid .socialSpan .socialNetwork img {
  width: 48px;
  height: 48px;
}
main .mainGrid .tabSelector {
  grid-column: span 6;
}
main .mainGrid .tabSelector .mainTabs {
  display: none;
}
main .mainGrid .tabSelector .tabContainer {
  display: grid;
}
main .mainGrid .tabSelector .tabContainer .tab {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  background-attachment: local;
}
main .mainGrid .tabSelector .tabContainer .tab .tabHeader {
  position: absolute;
  padding: 12px 12px 0 12px;
  top: 0;
}
main .mainGrid .tabSelector .tabArticleWrapper {
  background-image: linear-gradient(to top, #9caebb 0%, #e2ebf0 100%);
  padding-bottom: 36px;
}
main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph {
  display: none;
}
main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph .imageCarrier {
  width: 100%;
  display: flex;
  margin-left: 36px;
  padding-right: 36px;
  justify-content: center;
  align-items: center;
}
main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph .imageCarrier p {
  flex: 30%;
  margin-left: -20px;
  font-style: italic;
}
main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph p {
  padding: 0 36px 0 36px;
  margin-bottom: 0.4em;
}
main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph h2 {
  padding: 36px 36px 0 10px;
  background-color: #222529;
  color: white;
}
main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph h3 {
  padding: 14px 36px 0 36px;
}
main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph ul {
  padding: 0 36px 0 60px;
}
main .mainGrid .headerAlert {
  grid-column: span 7;
  padding: 12px 20px 0 20px;
  background-image: radial-gradient(circle 674px at 18.3% 77%, rgb(139, 186, 244) 3.4%, rgb(15, 51, 92) 56.6%);
  color: white;
  text-shadow: 2px 2px 4px black;
}
main .mainGrid .headerAlert a:link {
  color: skyblue;
}
main .mainGrid .headerAlert a:visited {
  color: white;
}
main .mainGrid .headerAlert a:hover {
  color: blue;
}

footer {
  display: flex;
  size: 100%;
  padding: 3em 2em 2em calc(100vw - 280px);
  color: white;
  font-size: 10pt;
}
footer hr {
  border: 1px solid white;
  margin: 3px 0 2px 0;
}
footer .miau {
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
}

main .imageStack {
  width: 100%;
  height: 80vh;
  position: absolute;
}
main .imageStack .slideShow li {
  list-style: none;
}
main .imageStack .slideShow li span {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  background-attachment: local;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: transparent;
  opacity: 0;
  animation: imageAnimation 30s ease-in-out infinite;
}
main .imageStack .slideShow li:nth-child(1) span {
  background-image: url(../img/chile-slideshow6.jpg);
  animation-delay: -2s;
}
main .imageStack .slideShow li:nth-child(2) span {
  background-image: url(../img/chile-slideshow2.jpg);
  animation-delay: 4s;
}
main .imageStack .slideShow li:nth-child(3) span {
  background-image: url(../img/chile-slideshow3.jpg);
  animation-delay: 10s;
}
main .imageStack .slideShow li:nth-child(4) span {
  background-image: url(../img/chile-slideshow4.jpg);
  animation-delay: 16s;
}
main .imageStack .slideShow li:nth-child(5) span {
  background-image: url(../img/chile-slideshow5.jpg);
  animation-delay: 22s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  24% {
    opacity: 0;
  }
}
main .imageStack .floatingHeader {
  max-width: 80%;
  position: absolute;
  bottom: 36px;
  left: 0;
}
main .imageStack .floatingHeader h1 {
  font-size: 80pt;
  padding-left: 36px;
  color: white;
  text-shadow: 2px 2px 10px black;
  line-height: 1.2em;
  -webkit-backdrop-filter: blur(10px) brightness(70%);
  backdrop-filter: blur(10px) brightness(70%);
}
main .spacer {
  position: relative;
  height: 80vh;
}
main .mainGrid .highlightedGridItem {
  grid-column: span 3;
  background-color: #222529;
  padding: 26px 36px 26px 36px;
  color: white;
}
main .mainGrid .presentationMainCard {
  grid-column: span 4;
  display: flex;
  flex-direction: row;
  position: relative;
  background-image: linear-gradient(to top, #9caebb 0%, #e2ebf0 100%);
  width: 100%;
  min-height: 360px;
}
main .mainGrid .presentationMainCard .presentationImageCard {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
main .mainGrid .presentationMainCard .presentationImageCard img {
  opacity: 0.8;
  width: 254px;
  height: 340px;
}
main .mainGrid .presentationMainCard .presentationTextCard {
  position: relative;
  top: 26px;
  left: 36px;
  color: #222529;
}
main .mainGrid .presentationMainCard .presentationTextCard p {
  width: calc(100% - 240px);
  -webkit-backdrop-filter: blur(10px) brightness(120%);
  backdrop-filter: blur(10px) brightness(120%);
}
main .mainGrid .presentationMainCard .presentationTextCard .presentationMainTitle h2 {
  width: 90%;
  color: #222529;
}
main .mainGrid .headerMain {
  line-height: 0.7em;
  grid-column: span 6;
  margin-top: 36px;
}
main .mainGrid .mSquare {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  background-attachment: local;
  color: white;
  padding: 1em;
  min-height: 400px;
  position: relative;
  grid-column: span 3;
}
main .mainGrid .mSquare div {
  position: absolute;
  bottom: 0;
  padding: 36px;
  -webkit-backdrop-filter: blur(10px) brightness(70%);
  backdrop-filter: blur(10px) brightness(70%);
}
main .mainGrid .mSquare div > h3 {
  text-shadow: 2px 2px 4px black;
}
main .mainGrid #accelSquare {
  background-image: url("../img/visa-tiempo.jpg");
}
main .mainGrid #rejectionSquare {
  background-image: url("../img/visa-rechazo.jpg");
}
main .mainGrid #reopeningSquare {
  background-image: url("../img/visa-reapertura.jpg");
}
main .mainGrid #assistanceSquare {
  background-image: url("../img/visa-asesoria.jpg");
}
main .mainGrid .instagramFeed {
  grid-column: span 6;
}

main .mainGrid .tabSelector .tabContainerN {
  grid-template-columns: repeat(4, 1fr);
}
main .mainGrid .tabSelector .tabContainerN #newsTabLabel1 {
  background-image: url("../img/visa-tiempo.jpg");
}
main .mainGrid .tabSelector #newsTab1:checked ~ .tabContainerN #newsTabLabel1,
main .mainGrid .tabSelector #newsTab2:checked ~ .tabContainerN #newsTabLabel2,
main .mainGrid .tabSelector #newsTab3:checked ~ .tabContainerN #newsTabLabel3,
main .mainGrid .tabSelector #newsTab4:checked ~ .tabContainerN #newsTabLabel4 {
  background-image: linear-gradient(rgba(34, 37, 41, 0.5), rgb(34, 37, 41)), url("../img/visa-tiempo.jpg");
  color: white;
}
main .mainGrid .tabSelector #newsTab1:checked ~ .tabArticleWrapper #newsItem1,
main .mainGrid .tabSelector #newsTab2:checked ~ .tabArticleWrapper #newsItem2,
main .mainGrid .tabSelector #newsTab3:checked ~ .tabArticleWrapper #newsItem3,
main .mainGrid .tabSelector #newsTab4:checked ~ .tabArticleWrapper #newsItem4 {
  display: block;
}

main .mainGrid .tabSelector .tabContainerV {
  grid-template-columns: repeat(3, 1fr);
}
main .mainGrid .tabSelector #visaTab1:checked ~ .tabContainerV #visaTabLabel1,
main .mainGrid .tabSelector #visaTab2:checked ~ .tabContainerV #visaTabLabel2,
main .mainGrid .tabSelector #visaTab3:checked ~ .tabContainerV #visaTabLabel3 {
  background-image: linear-gradient(rgba(34, 37, 41, 0.5), rgb(34, 37, 41));
  color: white;
}
main .mainGrid .tabSelector #visaTab1:checked ~ .tabArticleWrapper > #visaItem1,
main .mainGrid .tabSelector #visaTab2:checked ~ .tabArticleWrapper > #visaItem2,
main .mainGrid .tabSelector #visaTab3:checked ~ .tabArticleWrapper > #visaItem3 {
  display: block;
}

main .mainGrid .tabSelector .tabContainerS {
  grid-template-columns: repeat(3, 1fr);
}
main .mainGrid .tabSelector #servTab1:checked ~ .tabContainerS #servTabLabel1,
main .mainGrid .tabSelector #servTab2:checked ~ .tabContainerS #servTabLabel2,
main .mainGrid .tabSelector #servTab3:checked ~ .tabContainerS #servTabLabel3 {
  background-image: linear-gradient(rgba(34, 37, 41, 0.5), rgb(34, 37, 41)), url("../img/visa-tiempo.jpg");
  color: white;
}
main .mainGrid .tabSelector #servTab1:checked ~ .tabArticleWrapper > #servItem1,
main .mainGrid .tabSelector #servTab2:checked ~ .tabArticleWrapper > #servItem2,
main .mainGrid .tabSelector #servTab3:checked ~ .tabArticleWrapper > #servItem3 {
  display: block;
}

main .mainGrid .mainForm {
  grid-column: span 6;
  padding: 36px;
}

@media screen and (max-width: 767px) {
  body h1 {
    font-size: 36pt;
  }
  body h2 {
    font-size: 20pt;
  }
  body h3 {
    font-size: 14pt;
  }
  body p {
    font-size: 10pt;
  }
  body ul {
    font-size: 10pt;
  }
  body header .secondaryHeader {
    height: 50vh;
  }
  body header .secondaryHeader .secondaryFloating {
    bottom: 10px;
    left: 10px;
  }
  body main .imageStack .floatingHeader {
    bottom: 10px;
  }
  body main .imageStack .floatingHeader h1 {
    font-size: 36pt;
    padding-left: 10px;
  }
  body main .mainGrid {
    grid-template-columns: 32px repeat(6, 2fr);
    gap: 5px;
  }
  body main .mainGrid .socialSpan .socialNetwork {
    width: 36px;
  }
  body main .mainGrid .socialSpan .socialNetwork img {
    width: 32px;
    height: 32px;
  }
  body main .mainGrid .highlightedGridItem {
    padding: 10px;
    grid-column: span 6;
  }
  body main .mainGrid .highlightedGridItem p {
    width: 95%;
    padding-left: 0;
  }
  body main .mainGrid .presentationMainCard {
    min-height: 320px;
    grid-column: span 6;
    position: relative;
  }
  body main .mainGrid .presentationMainCard .presentationImageCard img {
    width: 217px;
    height: 290px;
    opacity: 0.3;
  }
  body main .mainGrid .presentationMainCard .presentationTextCard {
    left: 10px;
    top: 0;
    align-self: flex-end;
  }
  body main .mainGrid .presentationMainCard .presentationTextCard p {
    width: 90%;
  }
  body main .mainGrid .headerMain {
    margin-top: 26px;
  }
  body main .mainGrid .mSquare {
    grid-column: span 6;
    min-height: 280px;
  }
  body main .mainGrid .mSquare div {
    padding: 10px;
  }
  body main .mainGrid .headerAlert {
    grid-column: span 6;
  }
  body main .mainGrid .mainForm {
    padding: 10px;
  }
  body main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph p {
    padding: 0 10px 0 10px;
  }
  body main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph h2 {
    padding: 10px 10px 0 10px;
  }
  body main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph h3 {
    padding: 10px 0 0 10px;
  }
  body main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph ul {
    padding: 0 10px 0 36px;
  }
  body main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph .imageCarrier {
    flex-direction: column;
  }
  body main .mainGrid .tabSelector .tabArticleWrapper .mainParagraph .imageCarrier img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body main .imageStack .floatingHeader h1 {
    font-size: 52pt;
  }
  body main .mainGrid .mSquare div {
    padding: 10px;
  }
  body main .mainGrid .highlightedGridItem {
    grid-column: span 6;
  }
  body main .mainGrid .presentationMainCard {
    grid-column: span 6;
  }
  body main .mainGrid .presentationMainCard .presentationImageCard img {
    width: 240px;
    height: auto;
    opacity: 0.3;
  }
  body main .mainGrid .presentationMainCard .presentationTextCard p {
    width: calc(100% - 20vw);
  }
}
@media screen and (min-width: 1650px) {
  body main {
    width: 1650px;
  }
}

/*# sourceMappingURL=style.css.map */
