/*  Reset.
    Propiedades para todos los documentos
    */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

/*  Encabezado: sistema de navegacion 
    Se genera una barra semitransparente con vínculos para los HTML.
    Bootstrap nos sobreescribió todo, pero parece que aún podemos hacer un override
    */
.navbar {
    opacity: 0.85;
}

.nav-item {
    text-transform: uppercase;
    font-weight: bold;
}

.naviLogo img {
    margin: 0.2em;
    width: 10em;
    height: 2em;
}

/*  imageStack: un slideshow de 5 fotos de portada. 
    Dentro de estos comentarios está la definición del div principal,
    cada imagen que va dentro de cada <span> y la animación
    */
.imageStack {
    width: 100%;
    height: 80%;
    position: absolute;
}

/*  Esto se asegura de que los puntos de la lista de imágenes no sea visible
    */
.slideShow li {
    list-style: none;
}

.slideShow li span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    animation: imageAnimation 30s ease-in-out infinite;
}

.slideShow li:nth-child(1) span {
    background-image: url(../img/chile-slideshow6.jpg);
    animation-delay: -2s;
}

.slideShow li:nth-child(2) span {
    background-image: url(../img/chile-slideshow2.jpg);
    animation-delay: 4s;
}

.slideShow li:nth-child(3) span {
    background-image: url(../img/chile-slideshow3.jpg);
    animation-delay: 10s;
}

.slideShow li:nth-child(4) span {
    background-image: url(../img/chile-slideshow4.jpg);
    animation-delay: 16s;
}

.slideShow li:nth-child(5) span {
    background-image: url(../img/chile-slideshow5.jpg);
    animation-delay: 22s;
}

@keyframes imageAnimation {
    0% { opacity: 0; }
    4%  { opacity: 1; }
    20% { opacity: 1; }
    24% { opacity: 0; }
}

/* floatingHeader es el h2 que va dentro del div imageStack
    Es un título simple */
.floatingHeader {
    z-index: 20;
    width: 80%;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/*  Con Bootstrap el h2 de floatingHeader se rompió. A arreglar
    */
.floatingHeader h2 {
    font-size: 6em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px black;
    letter-spacing: -0.05em;
    line-height: 1.1em;
}

/*  Workaround para que el texto fluya en la página de título.
    El alto corresponde al 80% de la vista (view height)
    */
.spacer {
    position: relative;
    width: 100%;
    height: 80vh;
}

/*  Como secondaryHeader no necesita tener posición absoluta,
    podemos posicionarlo relativamente para que todo fluya.
    */
.secondaryHeader {
    width: 100%;
    height: 40vh;
    position: relative;
}

.secondaryHeader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 70%;
}

.secondaryFloating {
    z-index: 20;
    width: 80%;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/*  Con Bootstrap el h2 de secondaryFloating se rompió. A arreglar
    */
.secondaryFloating h2 {
    font-size: 4em;
    line-height: 1em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px black;
    letter-spacing: -0.04em;
}

/*********** PAGINA PRINCIPAL **************/
/*  Grilla principal para llamar la atención    */
.mainGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: .5em;
    gap: .5em;
}

.highlightedGridItem {
    grid-column: span 1;
    padding: 1em;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.highlightedGridItem h3 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-bottom: 0.2em;
}

/*  Presentación    */
.presentationLayer {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 20vh;
    padding: 4rem;
}

.presentationMainTitle h3 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-bottom: 0.2em;
}

.presentationMainCard {
    font-size: 1.2rem;
}


.mainText {
    margin: 1.5em;
}

.mainParagraph {
    margin-top: 1.2em;
    margin-bottom: 1.5em;
}

.mainParagraph h3 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-bottom: 0.2em;
}

.mainParagraph p {
    font-size: 1em;
    margin-bottom: 0.2em;
}

/*  Responsive  */
@media screen and (max-width: 768px) {
    .highlightedGridItem {
        grid-column: span 3;
    }

    .floatingHeader h2 {
        font-size: 4em;
    }

    footer {
        padding-left: 0;
    }
}

/*  iMacs y pantallas con resoluciones horizontales absurdas    */
@media screen and (min-width: 1650px) {
    main {
        width: 1650px;
    }
}
    

/* Pie de página: hay que terminarlo */
footer {
    display: flex;
    size: 100%;
    padding: 3em 5em 2em calc(100vw - 320px);
    text-align: left;
    font-size: 0.9em;
    color: white;
    letter-spacing: -0.02em;
}

footer hr {
    border: 1px solid white;
    margin: 3px 0 2px 0;
}
