@import "./imports/_vars.scss";
@import "./imports/_shared.scss";
@import 'https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', Helvetica, Arial, sans-serif;
    letter-spacing: -0.02em;
}

header {
    .navbar {
        opacity: 0.85;
    }
    .nav-item {
        text-transform: uppercase;
        font-weight: bold;
    }
    .naviLogo {
        img {
            margin: 0.2em;
            width: 10em;
            height: 2em;
        }
    }
    .secondaryHeader {
        width: 100%;
        height: 40vh;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 70%;
        }
        .secondaryFloating {
            z-index: 20;
            width: 80%;
            position: absolute;
            bottom: 30px;
            left: 30px;
            h2 {
                font-size: 4em;
                line-height: 1em;
                font-weight: bold;
                color: white;
                text-shadow: 2px 2px 10px black;
                letter-spacing: -0.04em;
            }
        }
    }
}

main {
    // Primera página y estructura
    .imageStack {
        width: 100%;
        height: 80vh;
        position: absolute;
        .slideShow {
            li {
                list-style: none;
                span {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    color: transparent;
                    background-size: cover;
                    background-position: 50% 50%;
                    background-repeat: none;
                    opacity: 0;
                    animation: imageAnimation 30s ease-in-out infinite;
                }
            }
            li:nth-child(1) {
                span {
                background-image: url(../img/chile-slideshow6.jpg);
                animation-delay: -2s;
                }
            }
            li:nth-child(2) {
                span {
                background-image: url(../img/chile-slideshow2.jpg);
                animation-delay: 4s;
                }
            }
            li:nth-child(3) {
                span {
                background-image: url(../img/chile-slideshow3.jpg);
                animation-delay: 10s;
                }
            }
            li:nth-child(4) {
                span {
                background-image: url(../img/chile-slideshow4.jpg);
                animation-delay: 16s;
                }
            }
            li:nth-child(5) {
                span {
                background-image: url(../img/chile-slideshow5.jpg);
                animation-delay: 22s;
                }
            }
            @keyframes imageAnimation {
                0% { opacity: 0; }
                4%  { opacity: 1; }
                20% { opacity: 1; }
                24% { opacity: 0; }
            }
        }
        .floatingHeader {
            z-index: 20;
            width: 80%;
            position: absolute;
            bottom: 30px;
            left: 30px;
            h2 {
                font-size: 6em;
                font-weight: bold;
                color: white;
                text-shadow: 2px 2px 10px black;
                letter-spacing: -0.05em;
                line-height: 1.1em;
            }
        }
    }
    .spacer {
        position: relative;
        height: 80vh;
    }
    .mainGrid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: .5em;
        gap: .5em;
        .highlightedGridItem {
            grid-column: span 2;
            padding: 1em;
            background-image: linear-gradient(to top, #9caebb 0%, #e2ebf0 100%);
            h3 {
                font-size: 2em;
                font-weight: bold;
                letter-spacing: -0.05em;
                margin-bottom: 0.2em;
            }
        }
        .presentationMainCard {
            font-size: 1.2em;
            background-image: linear-gradient(to top, #9caebb 0%, #e2ebf0 100%);
            grid-column: span 6;
            padding: 3em 0 3em 3em;
            display: flex;
            flex-direction: row;
            position: relative;
            width: 100%;
            min-height: 30vh;
            .presentationImageCard {
                position: absolute;
                bottom: 0;
                right: 0;
                img {
                    opacity: .8;
                    width: 256px;
                    height: 320px;
                    z-index: 0;
                }
            }
            .presentationTextCard {
                p {
                    width: calc(100% - 330px);
                    z-index: 999;
                }
                .presentationMainTitle {
                    h3 {
                        font-size: 3em;
                        font-weight: bold;
                        letter-spacing: -0.05em;
                        z-index: 10;
                        width: 90%;
                    }
                }
            }
        }
        .promotionGridItem {
            grid-column: span 6;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
            padding: 4em 3em 3em 3em;
            overflow: hidden;
            position: relative;
            align-items: normal;
            h3 {
                font-weight: bold;
                font-size: 3.5em;
                line-height: 0.5em;
                letter-spacing: -0.05em;
            }
            h5 {
                font-weight: bold;
                font-size: 1.5em;
                letter-spacing: -0.05em;
                text-shadow: 2px 2px 2px black;
            }
            #accelSquare {
                background-image: url("../img/visa-tiempo.jpg");
                background-position: center;
                background-size: cover;
                color: white;
                padding: 1em;
                div {
                    padding: 1em;
                    -webkit-backdrop-filter: blur(10px) brightness(50%);
                    backdrop-filter: blur(10px) brightness(50%);
                }
            }
            #rejectionSquare {
                background-image: url("../img/visa-rechazo.jpg");
                background-position: center;
                background-size: cover;
                color: white;
                padding: 1em;
                div {
                    padding: 1em;
                    -webkit-backdrop-filter: blur(10px) brightness(50%);
                    backdrop-filter: blur(10px) brightness(50%);
                }
            }
            #reopeningSquare {
                background-image: url("../img/visa-reapertura.jpg");
                background-position: center;
                background-size: cover;
                color: white;
                padding: 1em;
                div {
                    padding: 1em;
                    -webkit-backdrop-filter: blur(10px) brightness(50%);
                    backdrop-filter: blur(10px) brightness(50%);
                }
            }
            #assistanceSquare {
                background-image: url("../img/visa-asesoria.jpg");
                background-position: center;
                background-size: cover;
                color: white;
                padding: 1em;
                div {
                    padding: 1em;
                    -webkit-backdrop-filter: blur(10px) brightness(50%);
                    backdrop-filter: blur(10px) brightness(50%);
                }
            }
        }
    }
    .instagramFeed {
        grid-column: span 6;
        padding-top: 2em;
        h3 {
            font-size: 2.5em;
            font-weight: bold;
            letter-spacing: -0.05em;
            margin-bottom: 0.2em;
        }
    }
    // Páginas siguientes
    .mainParagraph {
        margin-top: 1.2em;
        margin-bottom: 1.5em;
        grid-column: span 5;
        padding-right: 2em;
        h3 {
            font-size: 2.5em;
            font-weight: bold;
            letter-spacing: -0.05em;
            margin-bottom: 0.2em;
        }
        p {
            font-size: 1em;
            margin-bottom: 0.2em;
        }
    }
    .square {
        background-color: blue;
        width: 22px;
        height: 22px;
        position: relative;
        right: 2px;
        top: 31px;
    }
    .newsTab {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    .mainForm {
        grid-column: span 6;
        padding: 3em;
    }
}

footer {
    display: flex;
    size: 100%;
    padding: 3em 2em 2em calc(100vw - 280px);
    text-align: left;
    font-size: 0.9em;
    color: white;
    letter-spacing: -0.02em;
    hr {
        border: 1px solid white;
        margin: 3px 0 2px 0;
    }
}


// Media query
@media screen and (max-width: 768px) {
    header {
        .secondaryHeader {
            .secondaryFloating {
                h2 {
                    font-size: 2.5em;
                }
            }
        }
    }

    main {
        .imageStack {
            .floatingHeader {
                h2 {
                    font-size: 3.5em;
                }
            }
        }
        .mainGrid {
            .presentationMainCard {
                padding: 1em 0 0 1em;
            }
            .highlightedGridItem {
                grid-column: span 6;
            }
            .presentationMainCard {
                .presentationImageCard {
                    img {
                        width: 192px;
                        height: 240px;
                        opacity: .4;
                    }
                }
                .presentationTextCard {
                    p {
                        width: 90%;
                        font-size: 0.8em;
                    }
                    .presentationMainTitle {
                        font-size: .8em;
                    }
                }
            }
            .promotionGridItem {
                padding: 2em 1em 1em 1em;
                div {
                    grid-column: span 2;
                }
                h3 {
                    font-size: 2.5em;
                }
            }    
        }
        .mainParagraph h3 {
            font-size: 2em;
        }
     }
}

//  Tabletas    
@media screen and (min-width: 768px) and (max-width: 1024px) {
    main {
        .imageStack {
            .floatingHeader h2 {
                font-size: 4.5em;
            }
        }
    }
}

// iMacs y pantallas con resoluciones horizontales absurdamente grandes
@media screen and (min-width: 1650px) {
    main {
        width: 1650px;
    }
}
