//  GLOBAL
//  Valores que afectarán TODAS las páginas del sitio

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: -0.02em;
    h1 {
        font-size: $size2;
        font-weight: bold;
        letter-spacing: -0.07em;
    }
    h2 {
        font-size: $size3;
        font-weight: bold;
        letter-spacing: -0.06em;
    }
    h3 {
        font-size: $size4;
        font-weight: bold;
        letter-spacing: -0.05em;
    }
}