// PAGINA PRINCIPAL
// Primera página y estructura

main {
    .imageStack {
        width: 100%;
        height: 80vh;
        position: absolute;
        .slideShow {
            li {
                list-style: none;
                span {
                    @include backgroundGen;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    color: transparent;
                    opacity: 0;
                    animation: imageAnimation 30s ease-in-out infinite;
                }
            }
            li:nth-child(1) {
                span {
                background-image: url(../img/chile-slideshow6.jpg);
                animation-delay: -2s;
                }
            }
            li:nth-child(2) {
                span {
                background-image: url(../img/chile-slideshow2.jpg);
                animation-delay: 4s;
                }
            }
            li:nth-child(3) {
                span {
                background-image: url(../img/chile-slideshow3.jpg);
                animation-delay: 10s;
                }
            }
            li:nth-child(4) {
                span {
                background-image: url(../img/chile-slideshow4.jpg);
                animation-delay: 16s;
                }
            }
            li:nth-child(5) {
                span {
                background-image: url(../img/chile-slideshow5.jpg);
                animation-delay: 22s;
                }
            }
            @keyframes imageAnimation {
                0% { opacity: 0; }
                4%  { opacity: 1; }
                20% { opacity: 1; }
                24% { opacity: 0; }
            }
        }
        .floatingHeader {
            max-width: 80%;
            position: absolute;
            bottom: $margin;
            left: 0;
            h1 {
                font-size: $size1;
                padding-left: $margin;
                color: white;
                text-shadow: 2px 2px 10px black;
                line-height: 1.2em;
                @include mainBlur();
            }
        }
    }
    .spacer {
        position: relative;
        height: 80vh;
    }
    .mainGrid {
        .highlightedGridItem {
            grid-column: span 3;
            background-color: $bs-dark;
            padding: $vmargin $margin $vmargin $margin;
            color: white;
        }
        .presentationMainCard {
            grid-column: span 4;
            padding-top: 26px;
            min-height: 340px;
            display: flex;
            flex-direction: row;
            position: relative;
            background-image: $gradientPlain;
            width: 100%;
            .presentationImageCard {
                position: absolute;
                right: 0px;
                bottom: 0px;
                img {
                    opacity: .8;
                    width: 254px;
                    height: 340px;
                }
            }
            .presentationTextCard {
                position: relative;
                width: calc(100% - 240px);
                left: $margin;
                color: $bs-dark;
                p {
                    -webkit-backdrop-filter: blur(10px) brightness(120%);
                    backdrop-filter: blur(10px) brightness(120%);
                }
            }
        }
        .headerMain {
            line-height: 0.7em;
            grid-column: span 6;
            margin-top: $margin;
        }
        .mSquare {
            @include backgroundGen();
            color: white;
            padding: 0 0 $margin $margin;
            min-height: 400px;
            position: relative;
            grid-column: span 3;
            div {
                position: absolute;
                bottom: 0;
                padding: $vmargin;
                @include mainBlur();
                > h3 {
                    text-shadow: 2px 2px 4px black;
                }
                > p {
                    margin: 0;
                }
            }
        }
        #accelSquare {
            background-image: url("../img/visa-tiempo.jpg");
        }
        #rejectionSquare {
            background-image: url("../img/visa-rechazo.jpg");
        }
        #reopeningSquare {
            background-image: url("../img/visa-reapertura.jpg");
        }
        #assistanceSquare {
            background-image: url("../img/visa-asesoria.jpg");
        }
        .instagramFeed {
            grid-column: span 6;
        }
    }
}
