// MEDIA QUERIES
// Cambios en el sitio web gatillados por cambios en las condiciones de visualizacion

// Celulares
@media screen and (max-width: 767px) {
    body {
        h1 {
            font-size: $size3;
        }
        h2 {
            font-size: $size4;
        }
        h3 {
            font-size: $size5;
        }
        p {
            font-size: $size7;
        }
        ul {
            font-size: $size7;
        }
        header {
            .secondaryHeader {
                height: 50vh;
                .secondaryFloating {
                    bottom: $mobMargin;
                    left: $mobMargin;
                }
            }
        }
        main {
            .imageStack {
                .floatingHeader {
                    bottom: $mobMargin;
                    left: $mobMargin;
                    h1 {
                        font-size: $size3;
                    }
                }
            }
            .mainGrid {
                grid-template-columns: 40px repeat(6, 2fr);
                .socialSpan {
                    .socialNetwork {
                        width: 40px;
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
                .highlightedGridItem {
                    padding: $mobMargin;
                    grid-column: span 6;
                    p {
                        width: 95%;
                        padding-left: 0;
                    }
                }
                .mainParagraph {
                    p {
                        padding: 0 $mobMargin 0 $mobMargin;
                    }
                    h2 {
                        padding: $mobMargin;
                    }
                    ul {
                        padding: $mobMargin;
                    }
                }
                .presentationMainCard {
                    min-height: 320px;
                    grid-column: span 6;
                    .presentationImageCard {
                        img {
                            width: 217px;
                            height: 290px;
                            opacity: 0.3;
                        }
                    }
                    .presentationTextCard {
                        bottom: $mobMargin;
                        left: $mobMargin;
                        p {
                            width: 95%;
                        }
                    }
                }
                .promotionGridItem {
                    padding: 36px 0 0 0;
                    gap: 5px;
                    div {
                        grid-column: span 2;
                    }
                    h2 {
                        padding-left: $mobMargin;
                    }
                    #accelSquare, #rejectionSquare, #reopeningSquare, #assistanceSquare {
                        min-height: 280px;
                    }
                }
                .instagramFeed {
                    padding: 36px 0 0 0;
                    h2 {
                        padding: 0 $mobMargin 0 $mobMargin;
                    }
                }
                .mainForm {
                    padding: $mobMargin;
                }
            }
        }
    }
}

//  Tabletas    
@media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        .mainGrid {
            .highlightedGridItem {
                grid-column: span 6;
            }
            .presentationMainCard {
                grid-column: span 6;
                min-height: 420px;
                .presentationImageCard {
                    img {
                        width: 240px;
                        height: auto;
                        opacity: 0.3;
                    }
                }
                .presentationTextCard {

                    p {
                        width: calc(100% - 20vw);
                    }
                }
            }
        }
    }

}

// iMacs y pantallas con resoluciones horizontales absurdamente grandes
@media screen and (min-width: 1650px) {
    main {
        width: 1650px;
        .mainGrid {
            .promotionGridItem {
                padding: $margin 0 $margin 0;
            }
            .instagramFeed {
                padding: 0;
            }
        }
    }

}
