// MEDIA QUERIES
// Cambios en el sitio web gatillados por cambios en las condiciones de visualizacion

// Celulares
@media screen and (max-width: 767px) {
    body {
        h1 {
            font-size: $size3;
        }
        h2 {
            font-size: $size4;
        }
        h3 {
            font-size: $size5;
        }
        p {
            font-size: $size7;
        }
        ul {
            font-size: $size7;
        }
        header {
            .secondaryHeader {
                height: 50vh;
                .secondaryFloating {
                    bottom: $mobMargin;
                    padding-left: $mobMargin;
                }
            }
        }
        main {
            .imageStack {
                .floatingHeader {
                    bottom: $mobMargin;
                    h1 {
                        font-size: $size3;
                        padding-left: $mobMargin;
                    }
                }
            }
            .mainGrid {
                grid-template-columns: 32px repeat(6, 2fr);
                gap: 5px;
                .socialSpan {
                    .socialNetwork {
                        width: 36px;
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
                .highlightedGridItem {
                    padding: $mobMargin;
                    grid-column: span 6;
                    p {
                        width: 95%;
                        padding-left: 0;
                    }
                }
                .presentationMainCard {
                    min-height: 320px;
                    grid-column: span 6;
                    position: relative;
                    .presentationImageCard {
                        img {
                            width: 217px;
                            height: 290px;
                            opacity: 0.3;
                        }
                    }
                    .presentationTextCard {
                        left: $mobMargin;
                        top: 0;
                        align-self: flex-end;
                        p {
                            width: 90%;
                        }
                    }
                }
                .headerMain {
                    margin-top: $vmargin;
                }
                .mSquare {
                    grid-column: span 6;
                    min-height: 280px;
                    div {
                        padding: $mobMargin;
                    }
                }
                .headerAlert {
                    grid-column: span 6;
                    padding: $mobMargin $mobMargin 0 $mobMargin;
                }
                .mainForm {
                    padding: $mobMargin;
                }
                .tabSelector {
                    .tabContainer {
                        .tab {
                            grid-column: span 6;
                            height: 90px;
                        }
                    }
                    .tabArticleWrapper {
                        .mainParagraph {
                            p {
                                padding: 0 $mobMargin 0 $mobMargin;
                            }
                            h2 {
                                padding: $mobMargin $mobMargin 0 $mobMargin;
                            }
                            h3 {
                                padding: 0 $mobMargin 0 $mobMargin;
                            }
                            ul {
                                padding: 0 $mobMargin 0 26px;
                            }
                            .imageCarrier {
                                flex-direction: column;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//  Tabletas    
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        header {
            .secondaryHeader {
                height: 50vh;
                .secondaryFloating {
                    bottom: $mobMargin;
                    padding-left: $margin;
                }
            }
        }
        main {
            .imageStack {
                .floatingHeader {
                    bottom: $mobMargin;
                    h1 {
                        font-size: $size2;
                    }
                }
            }
            .mainGrid {
                .mSquare {
                    div {
                        padding: $mobMargin;
                    }
                }
                .highlightedGridItem {
                    grid-column: span 6;
                }
                .presentationMainCard {
                    grid-column: span 6;
                    .presentationImageCard {
                        img {
                            width: 240px;
                            height: auto;
                            opacity: 0.3;
                        }
                    }
                    .presentationTextCard {
                        p {
                            width: calc(100% - 20vw);
                        }
                    }
                }
            }
        }
    }
}

// iMacs y pantallas con resoluciones horizontales absurdamente grandes
@media screen and (min-width: 1650px) {
    body {
        main {
            width: 1650px;
        }
    }
}
