main {
    .mainGrid {
        .mainParagraph {
            margin-bottom: 1.5em;
            grid-column: span 6;
            p {
                padding: 0 $margin 0 $margin;
                margin-bottom: 0.4em;
            }
            h2 {
                padding: 24px $margin 0 $margin;
                color: white;
            }
            ul {
                padding: 0 $margin 0 60px;
            }
        }
    }
}