main {
    .mainGrid {
        .tabSelector {
            .tabContainerS {
                grid-template-columns: repeat(3, 1fr);
                #servTabLabel1 {
                    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,1)), url("../img/visa-tiempo.jpg");
                }
                #servTabLabel2 {
                    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,1)), url("../img/visa-rechazo.jpg");
                }
                #servTabLabel3 {
                    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,1)), url("../img/asesoria-serv.jpg");
                }
            }
            #servTab1:checked ~ .tabContainerS #servTabLabel1 {
                background-image: linear-gradient(rgba(34,37,41,0.5), rgba(34,37,41,1)), url("../img/visa-tiempo.jpg");
                color: white;
            }
            #servTab2:checked ~ .tabContainerS #servTabLabel2 {
                background-image: linear-gradient(rgba(34,37,41,0.5), rgba(34,37,41,1)), url("../img/visa-rechazo.jpg");
                color: white;
            }
            #servTab3:checked ~ .tabContainerS #servTabLabel3 {
                background-image: linear-gradient(rgba(34,37,41,0.5), rgba(34,37,41,1)), url("../img/asesoria-serv.jpg");
                color: white;
            }
            #servTab1:checked ~ .tabArticleWrapper > #servItem1,
            #servTab2:checked ~ .tabArticleWrapper > #servItem2,
            #servTab3:checked ~ .tabArticleWrapper > #servItem3 {
                display: block;
            }
        }
    }
}