// Estilos compartidos entre páginas
@mixin mainBlur() {
    -webkit-backdrop-filter: blur(10px) brightness(70%);
    backdrop-filter: blur(10px) brightness(70%);
}

@mixin backgroundGen() {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    background-attachment: local;
}

header {
    .navbar {
        opacity: 0.9;
        padding-right: 6px;
    }
    .nav-item {
        font-size: $size5;
        font-family: 'DIN Alternate', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
    }
    .naviLogo {
        img {
            margin: 0.1em;
            width: 10.2em;
            height: 1.85em;
        }
    }
    .secondaryHeader {
        width: 100%;
        height: 40vh;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 70%;
        }
        .secondaryFloating {
            max-width: 80%;
            position: absolute;
            bottom: $margin;
            padding-left: $margin;
            @include mainBlur();
            h1 {
                color: white;
                text-shadow: 2px 2px 10px black;
            }
        }
    }
}

main {
    .mainGrid {
        display: grid;
        grid-template-columns: 56px repeat(6, 2fr) $margin;
        margin-top: 10px;
        gap: 10px;
        .socialSpan {
            grid-column: span 1;
            grid-row: span 9;
            align-items: center;
            .socialNetwork {
                position: -webkit-sticky;
                position: sticky;
                top: 74px;
                width: 64px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                img {
                    width: 48px;
                    height: 48px;
                }    
            }
        }
        .tabSelector {
            grid-column: span 6;
            .mainTabs {
                display: none;
            }
            .tabContainer {
                display: grid;
                gap: 2px;
                .tab {
                    position: relative;
                    height: 200px;
                    overflow: hidden;
                    @include backgroundGen();
                    cursor: pointer;
                    .tabHeader {
                        position: absolute;
                        padding: 12px 12px 0 12px;
                        top: 0;
                    }
                }
            }
            .tabArticleWrapper {
                background-image: $gradientPlain;
                padding-bottom: $margin;
                .mainParagraph {
                    display: none;
                    .imageCarrier {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p {
                            flex: 30%;
                            margin-left: -20px;
                            font-style: italic;
                        }
                    }
                    p {
                        padding: 0 $margin 0 $margin;
                        margin-bottom: 0.4em;
                    }
                    h2 {
                        padding: $margin $margin 0 $mobMargin;
                        background-color: $bs-dark;
                        color: white;
                    }
                    h3 {
                        padding: 14px $margin 0 $margin;
                    }
                    ul {
                        padding: 0 $margin 0 60px;
                    }
                }    
            }
        }
        .headerAlert {
            grid-column: span 7;
            padding: 12px 20px 0 20px;
            background-image: $gradientAlert;
            color: white;
            text-shadow: 2px 2px 4px black;
            a:link {
                color: skyblue;
            }
            a:visited {
                color: white;
            }
            a:hover {
                color: blue;
            }
        }
    }
}

footer {
    display: flex;
    size: 100%;
    padding: 3em 2em 2em calc(100vw - 280px);
    color: white;
    font-size: $size7;
    hr {
        border: 1px solid white;
        margin: 3px 0 2px 0;
    }
    .miau {
        font-family: 'DIN Alternate', Helvetica, Arial, sans-serif;
    }
}
