// VARIABLES
// Valores disponibles a lo largo de todo el sitio

$margin: 36px;
$mobMargin: 10px;

// SET DE TAMAÑOS
$size1: 6em;
$size2: 4.5em;
$size3: 3em;
$size4: 2.5em;
$size5: 2em;
$size6: 1.1em;