// VARIABLES
// Valores disponibles a lo largo de todo el sitio

$margin: 36px;
$mobMargin: 10px;

// SET DE TAMAÑOS
$size1: 72pt;
$size2: 48pt;
$size3: 36pt;
$size4: 20pt;
$size5: 14pt;
$size6: 12pt;
$size7: 10pt;