main {
    .mainGrid {
        .tabSelector {
            .tabContainerV {
                grid-template-columns: repeat(3, 1fr);
            }
            #visaTab1:checked ~ .tabContainerV #visaTabLabel1,
            #visaTab2:checked ~ .tabContainerV #visaTabLabel2,
            #visaTab3:checked ~ .tabContainerV #visaTabLabel3 {
                background-image: linear-gradient(rgba(34,37,41,0.5), rgba(34,37,41,1));
                color: white;
            }
            #visaTab1:checked ~ .tabArticleWrapper > #visaItem1,
            #visaTab2:checked ~ .tabArticleWrapper > #visaItem2,
            #visaTab3:checked ~ .tabArticleWrapper > #visaItem3 {
                display: block;
            }
        }
    }
}